.header {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(214, 214, 214);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-icon {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  margin-left: -1px;
  margin-right: 10px;
}

.search-img {
  height: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  background-color: rgb(247, 247, 247);
  border-style: none;
  border-radius: 24px;
}

.voice-img {
  height: 24px;
  margin-top: 4px;
}

.right-section {
  width: 180px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  
  margin-right: 20px; 
}

.right-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.user-channel-profile {
  height: 32px;
  border-radius: 16px;
}