.sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 72px;
}

.sidebar-link {
    height: 76px;
}

.sidebar-link:hover {
    background-color: lightgrey;
}