.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author, .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);

}

.video-author {
    margin-bottom: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;

}

.channel-picture {
    vertical-align: top;
}


.profile-picture {
    width: 36px;
    border-radius: 50%;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    border-radius: 2px;
}

